body {
    font-family: "roboto";
    padding: 0;
    margin: 0;
}
header {
    background: #1f2937;
    padding: 3em 12em;    
}

p {
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}
.header {
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    border-radius: 0.5em;
    border: 4px solid #3883F6;
}


.hero2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;

}
.item >p {
    color:#1F2937
}
.information > h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E5E7EB;
    font-size: 36px;
}

blockquote {
    color: #1F2937;
    font-style: italic;
    padding: 7em 13em;


}
blockquote>p{ 
    color: #1F2937;
    font-size: 36px;
}
figcaption {
   text-align: right ;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #E5E7EB;
    padding: 2em 15em;
}

.box {
    display: flex;
    background: #3883F6;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 8px;

}
button {
    background-color: #3883F6;
    color: white;
    padding: 6px 18px;
    border-radius: 6px;
    border: 2px solid #fff
}

footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
}
